.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.menu-panel{
  display: flex;
  flex-direction: column;
  top: 85px;
  right: 87px;
  gap: 5px;
  width: max-content;
  height: fit-content;
  padding: 20px;
  background-color: #4e4e4e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    /* Primary shadow */ 0 6px 20px rgba(0, 0, 0, 0.19); /* Secondary shadow */
}

.menu-option {
  width: 100%;
  padding: 8px 4px;
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  display: block;
  border-bottom: 2px solid #b2b2b2;
  font-size: 16px;
}

/* .menu-option:last-child {
    border-bottom: none;
} */

.menu-option:hover {
  background-color: #383838;
  cursor: pointer;
}

.logo-menu {
  background: url("../Icons/menu-logo.png") no-repeat center center;
  background-size: cover !important;
  width: 100px !important; /* Adjust the width as needed */
  height: 30px !important; /* Adjust the height as needed */
  border: none;
  cursor: pointer;
}

.logo-menu:hover {
  opacity: 0.8; /* Optional: Add a hover effect */
}

.custom-switch {
  position: relative;
  width: 50px;
  height: 30px;
}

.custom-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(255, 146, 50);
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider::before {
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
}
